.services-container h1 {
   text-align: center;
   color: rgb(204, 13, 13);
}
.service-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 30px;
}

@media only screen and (max-width: 767px) {
   .service-container{
      grid-template-columns: repeat(1, 1fr);
   }
}
